<md-content layout="row" layout-padding>

    <div ng-if="vm.showSearch">
        <md-card layout-padding>
            <h2>Search for a Group Policy</h2>
            <b>Enter a Group Name <em>(search is case sensitive)</em></b>
            <form name="vm.searchForm">
                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="vm.groupname" required/>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary" ng-click="vm.searchGroupName()"
                           ng-disabled="vm.searchForm.$invalid">
                    Search
                </md-button>
            </form>
        </md-card>
    </div>
    <div ng-if="vm.showAdd">
        <md-card layout-padding>
            <h2>Add a Group Policy</h2>
            <b>Enter a Group Name</b>
            <form name="vm.addForm">
                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="vm.groupname" required/>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary" ng-click="vm.addGroup(vm.groupname)"
                           ng-disabled="vm.addForm.$invalid">
                    Add
                </md-button>
            </form>
        </md-card>
    </div>
    <div id="acluser" ng-if="vm.showGroup" flex>
        <md-card layout-padding layout-margin>
            <div>
                <md-button class="md-fab md-danger" ng-click="vm.showSearch = true; vm.showGroup = false; vm.groupname='';">
                    <md-icon class="material-icon">search</md-icon>
                    <md-tooltip>Search again</md-tooltip>
                </md-button>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-fab md-danger" ng-click="vm.removeGroup()">
                    <md-icon class="material-icon">delete</md-icon>
                    <md-tooltip>Delete</md-tooltip>
                </md-button>
            </md-card-actions>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{vm.group.name}}</span>
                    <span class="md-subhead">{{vm.group.description}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-subheader class="md-no-sticky"><h3>Group Details</h3></md-subheader>
            <md-list-item>
                <md-input-container class="md-block">
                    <label>Group Owner:</label>
                    <input ng-model="vm.group.groupOwner">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container class="md-block">
                    <label>Group Type:</label>
                    <input ng-model="vm.group.groupType">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <p>System Group: </p>
                <md-checkbox class="md-secondary" ng-model="systemGroup.isChecked" ng-click="vm.updateSystemGroup($event)"></md-checkbox></h5>
            </md-list-item>
            <md-subheader>
                <div layout="row" layout-align="space-between center">
                    <div flex="30" ><h3>Assigned Users</h3><br /><i class="md-caption">Deselect to unassign user</i></div>
                    <div flex="60"></div>
                    <div flex>
                        <md-button class="md-fab md-danger" ng-click="vm.showUsers(vm.user)">
                            <md-icon class="material-icons">group_add</md-icon>
                            <md-tooltip>Assign User</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </md-subheader>
            <md-list-item ng-if="vm.noUsersMsg">
                <p>{{ vm.noUsersMsg }}</p>
            </md-list-item>
            <md-list-item ng-if="!vm.noUsersMsg" ng-repeat="member in vm.members">
                <p> {{ member.userNameDisplay }} </p>
                <md-checkbox class="md-secondary" ng-model="member.isChecked" ng-click="vm.userRemoveBtn = true"></md-checkbox>
            </md-list-item>
            <md-button type="submit" class="md-raised md-primary" ng-click="vm.showConfirm('Remove user(s) from group?')" ng-disabled="!vm.userRemoveBtn">
                Update assigned users
            </md-button>
            <md-subheader>
                <div layout="row" layout-align="space-between center">
                    <div flex="30"><h3>Group Permissions</h3><br /><i class="md-caption">Deselect to remove permission(s)</i></div>
                    <div flex="60"></div>
                    <div flex>
                        <md-button class="md-fab md-danger" ng-click="vm.showPermissions($event)">
                            <md-icon class="material-icons">add_circle</md-icon>
                            <md-tooltip>Add Permission</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </md-subheader>
            <md-list-item ng-repeat="permission in vm.groupPermissions">
                <p> {{ permission.description }}</p>
                <md-checkbox class="md-secondary" ng-model="permission.isChecked" ng-click="vm.permissionRemoveBtn = true"></md-checkbox>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <md-button type="submit" class="md-raised md-primary" ng-click="vm.showConfirm('Remove permission(s) from group?')" ng-disabled="!vm.permissionRemoveBtn">
                Update group policy permissions
            </md-button>
        </md-card>
    </div>
    </md-card>
</md-content>