<md-content layout="column" layout-padding>
    <md-card layout-padding>
        <div>
            <h2>Staff Pick Video Page</h2>

            <form name="addForm">
                <md-input-container>
                    <input type="text" ng-model="videoId" required placeholder="Video ID"/>
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="vm.addVideo(videoId)" ng-disabled="addForm.$invalid">Add</md-button>
            </form>

            <md-list>
                <md-list-item class="md-2-line" ng-repeat="video in vm.videoCollection.videos track by $index">
                    <div class="md-list-item-text">
                        {{video}}
                        <md-button class="md-raised md-warn" ng-click="vm.removeVideo($index)">Remove</md-button>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-card>
</md-content>