#home-page hr {
    margin-bottom: 0;
    margin-top: 10px;
}
#home-page h3 {
    margin: 10px 5px;
}
#home-page .view-all {
    margin-right: 5px;
    font-weight: 500;
}
#home-page .video {
    margin: 0 5px;
}

#home-page #slider-slick {
    min-height: 150px;
}

#home-page #slider-slick .slide {
    position: relative;
}

#home-page #slider-slick .btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#home-page .video-slick img {
    min-height: 126px;
}

#home-page #slider-slick img {
    height: 250px;
    object-fit: cover;
}

#home-page #slider-description-row {
    position: relative;
    background-color: #f4f4f4;
    border-bottom: 1px solid #cecccc;
}
#home-page #slider-description-row .arrow {
    height: 15px;
}
#home-page #slider-description-row .arrow a {
    padding: 0;
    color: #30c1ed;
    position: relative;
    top: -3px;
}

#home-page #slider-description-slick h3 {
    margin: 10px 0 0;
}

/***************************
 * Slick theme
 */
#home-page .slick-slider {
    margin-bottom: 0;
}
#home-page .slick-prev:before, #home-page .slick-next:before {
    color: #30c1ed;
}

#home-page .slick-dots {
    bottom: 0;
}

#home-page .slick-dots li.slick-active button:before {
    color: #30c1ed;
}

#home-page .slick-prev, #home-page .slick-next {
    color: #ccc;
    font-size: 20px;
}
#home-page .slick-prev:before, #home-page .slick-next:before {
    content: '';
}
#home-page .slick-next {
    right: -15px;
}
#home-page .slick-prev {
    left: -15px;
}
/*
 * End slick theme
 ***************************/


@media (min-width: 768px) {
    #home-page #slider-slick {
        min-height: 280px;
    }
    #home-page #slider-slick img {
        height: auto;
        object-fit: initial;
    }
}

@media (min-width: 992px) {
    #home-page #slider-slick {
        min-height: 362px;
    }
    #home-page #main-row {
        display: flex;
    }
}

@media (min-width: 1200px) {
    #home-page #slider-slick {
        min-height: 438px;
    }
}