#home-page .video {
    background-color: #fff;
}
#home-page .video .video-bottom {
    padding: 15px;
}
#home-page .video .title {
    min-height: 63px;
}

#home-page .slick-prev:before, #home-page .slick-next:before {
    color: #30c1ed;
}