#home-page hr {
    margin-bottom: 0;
}
#home-page h3 {
    margin-top: 15px;
}
#home-page .video {
    margin-top: 0;
}

#home-page #slider-slick {
    min-height: 150px;
}

#home-page #slider-slick .slide {
    position: relative;
}

#home-page #slider-slick .btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#home-page #slider-slick img {
    height: 250px;
    object-fit: cover;
}

#home-page #slider-description-row {
    position: relative;
}

#home-page #slider-description-row .arrow a {
    position: relative;
    bottom: -10px;
    color: #30c1ed;
}

/***************************
 * Slick theme
 */
#home-page .slick-slider {
    margin-bottom: 0;
}
#home-page .slick-prev:before, #home-page .slick-next:before {
    color: #30c1ed;
}

#home-page .slick-dots {
    bottom: 0;
}

#home-page .slick-dots li.slick-active button:before {
    color: #30c1ed;
}
/*
 * End slick theme
 ***************************/


@media (min-width: 768px) {
    #home-page #slider-slick {
        min-height: 280px;
    }
    #home-page #slider-slick img {
        height: auto;
        object-fit: initial;
    }
}

@media (min-width: 992px) {
    #home-page #slider-slick {
        min-height: 362px;
    }
}

@media (min-width: 1200px) {
    #home-page #slider-slick {
        min-height: 438px;
    }
}