body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  
}

.footer-sub1 {
  background:#8f8f8f;
}

.footer-sub2 {
  background: black;
}

.footer-sub2 ul {
  list-style-type: none;
}

.footer-sub2 ul li {
  display: inline;
}

.header {
  background: black;
  height: 50px;
}

.height-100-percent {
  height: 100%;
}

.header-pad {
  height: 50px;
}

.header-user {
  background : #f48a4a;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  background: #fafafa;
  box-shadow: 1px 0 10px 0px rgba(128, 128, 128, 0.5);
}

.flex {
  display: flex;
}

.video-player-title {
  margin: auto 20px;
}

.p-5-m-0 {
  padding: 5px;
  margin: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-r-20 {
  margin-right: 20px;
}

.video-player-categories {
  background: #2b2e38;
  margin-top: -5;
}

.border-radius-0 {
  border-radius: 0;
}

.background-orange {
  background-color: #f48a4a;
}

.font-white {
  color: white;
}

.p-l-25 {
  padding-left: 25px;
}

.video-user-info-height {
  height: 110px;
}

.add-button {
  width: 40px;
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.t-a-inherit {
  text-align: inherit;
}

.bold {
  font-weight: bold;
}

.write-comment {
  padding: 20px 40px;
}

.gainsboro-background {
  background: gainsboro;
}

.p-15-0 {
  padding: 15px 0;
}

.video-action-icons {
  margin: -7px 20px 0 20px;
}

.p-0-40 {
  padding: 0 40px;
}

.pull-right {
  float: right;
}

.border-radius-circle {
  border-radius: 50%;
}

.video-user-more {
  width: 103px;
}

.inline {
  display: inline;
}