body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  background-color: black;
}

.header {
  background-color: black;
}

.header-pad {
  height: 50px;
}

.main {
  background: #fafafa;
  box-shadow: 1px 0 10px 0px rgba(128, 128, 128, 0.5);
}