#search-page #videos .col-md-3.col-sm-6 {
    padding: 0 5px;
}

@media (min-width: 992px) {
    #search-page #videos .video img {
        min-height: 127px;
    }
}

@media (min-width: 1200px) {
    #search-page #videos .video img {
        min-height: 155px;
    }
}