#upload-page {
    min-height: 400px;
    padding-top: 50px;
}
#upload-page .glyphicon {
    font-size: 75px;
    display: block;
}
#upload-page .upload-icon {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 136px;
    overflow: hidden;
}
#upload-page .upload-icon .glyphicon-plane {
    position: absolute;
    left: 60px;
    top: 50px;
}
#upload-page .upload-icon input {
    display: block;
    width: 100%;
    height: 175px;
    position: absolute;
    top: -30px;
    cursor: pointer;
    opacity: 0;
}
#upload-page .upload-icon input:focus {
    outline: none;
}
#upload-page .upload-icon:hover .glyphicon {
    color: #f48a4a;
}
#upload-page .icon-wrap {
    margin-bottom: 150px;
}
#upload-page #video-preview video {
    width: 100%;
    margin-bottom: 20px;
}
#upload-page #thumbnails ul {
    list-style-type: none;
    padding: 0;
}
#upload-page #thumbnails input {
    display: none;
}
#upload-page #thumbnails li {
    width: 140px;
    height: 120px;
    margin: 0 1px;
    position: relative;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    opacity: 0.8;
    background-position: 50% 50%;
    transition: all 0.2s ease-in-out;
}
#upload-page #thumbnails li.active {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
    border: 5px solid rgb(38, 186, 229);
}
#upload-page #thumbnails li.active::before {
    content: "✔";
    background-color: rgb(38, 186, 229);
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 100%;
}