#upload-page {
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#upload-page .bootstrap-tagsinput {
    width: 100%;
    border-radius: 0;
}
#upload-page .bootstrap-tagsinput .label {
    font-size: 100%;
    border-radius: 0;
    background-color: #30c1ed;
}
#upload-page .glyphicon {
    font-size: 75px;
    display: block;
}
#upload-page .upload-icon {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 136px;
    overflow: hidden;
}
#upload-page .upload-icon input {
    display: block;
    width: 100%;
    height: 175px;
    position: absolute;
    top: -30px;
    cursor: pointer;
    opacity: 0;
}
#upload-page .upload-icon input:focus {
    outline: none;
}
#upload-page .upload-icon:hover .glyphicon {
    color: #f48a4a;
}
#upload-page .icon-wrap {
    margin-bottom: 150px;
}
#upload-page #video-preview video {
    width: 100%;
    margin-bottom: 20px;
}

#upload-page #map {
    height: 400px;
}