<md-content layout="column" layout-padding>
    <md-card layout-padding>
        <div>
            <h2>Featured Video Page</h2>

            <form name="addForm">
                <md-input-container>
                    <input type="text" ng-model="videoId" required placeholder="Video ID"/>
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="vm.addVideo(videoId)" ng-disabled="addForm.$invalid">Add</md-button>
            </form>

            <md-list>
                <md-list-item class="md-2-line" ng-repeat="video in vm.videoCollection track by $index">
                    <div class="md-list-item-text">
                        <md-card layout-padding layout="row">
                            <div layout="column" flex="15">
                                <p>Username : {{video.userId.userNameDisplay}}</p>
                                <a href="/user/{{video.userId.userNameUrl}}"><p>Go To User Profile</p></a>
                                <p>Uploaded Date : {{video.uploadDate}}</p>
                            </div>
                            <div layout="column" flex="33">
                                <p>Video Id : {{video._id}}</p>
                                <p>Video Title : {{video.title}}</p>
                                <p>Video Duration : {{video.duration}}</p>
                                <p>Video View Count : {{video.viewCount}}</p>
                            </div>
                            <div layout="column" flex>
                                <div>
                                    <img src="{{vm.amazonOutputUrl}}{{video.thumbnailPath}}">
                                </div>
                            </div>
                            <div layout="column">
                                <md-button class="md-raised md-warn" ng-click="vm.removeVideo($index)">Remove</md-button>
                            </div>
                        </md-card>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-card>
</md-content>