packages:
  yum:
    git: []
    ImageMagick: []

files:
  "/home/ec2-user/ffprobe.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /home/ec2-user

      # download ffprobe from airvuz s3 (v3.1.2)
      curl -O https://s3-us-west-2.amazonaws.com/airvuz-bin/ffprobe.tar.gz
      # extract ffprobe to bin
      tar -xf ffprobe.tar.gz -C /bin/
