container_commands:
  00_ffprobe:
    command: "./ffprobe.sh"
    cwd: /home/ec2-user
    test: '[ ! -e /bin/ffprobe ]'
  01_run_build:
    command: "node node_modules/webpack/bin/webpack.js --config client/webpack.config.js"
    cwd: /tmp/deployment/application
  02_run_bower:
    command: "export PATH=$PATH; ../node_modules/bower/bin/bower install --allow-root"
    cwd: /tmp/deployment/application/admin
