<md-content layout="row" layout-align="center center" layout-padding>
    <md-card flex="90" flex-gt-md="80" layout-padding >
        <div>
            <h2>Users</h2>
            <p>Search by:</p>
            <form name="vm.searchForm">
                <md-input-container>
                    <label>username</label>
                    <input type="text" ng-model="vm.username" required/>
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="vm.searchUsername(vm.username)" ng-disabled="vm.searchForm.$invalid">
                    Submit
                </md-button>
            </form>
        </div>
        <div>

        </div>
        <div layout="row" layout-align="center center" ng-if="vm.user" layout-margin layout-padding>

            <md-whiteframe class="md-whiteframe-1dp" flex="90" >
                <div layout="row">

                    <div flex>
                        <p>User Name: {{vm.user.userName}}</p>
                        <p>First Name: {{vm.user.firstName}}</p>
                        <p>Last Name: {{vm.user.lastName}}</p>
                        <p>Email Address: {{vm.user.emailAddress}}</p>
                        <p>Roles:</p>
                        <ul>
                            <li ng-repeat="role in vm.user.aclRoles">{{role}}</li>
                        </ul>
                    </div>
                    <div layout-align="end center">
                        <md-button class="md-fab md-primary" ui-sref="users.user({id: vm.user._id})">
                            <md-icon class="material-icon">edit</md-icon>
                        </md-button>
                    </div>
                </div>
            </md-whiteframe>
        </div>
    </md-card>


</md-content>