<md-content layout="row" layout-align="center center" layout-padding>
    <md-card flex="90" flex-gt-md="80" layout-padding>
        <div>
            <h2>Videos</h2>
            <p>Search By:</p>
            <form>
                <md-input-container>
                    <label>Video Id</label>
                    <input type="text" ng-model="vm.videoId" required />
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="vm.videoSearch(vm.videoId)">Submit</md-button>
            </form>
        </div>
        <div layout="row" layout-align="center center" ng-if="vm.videos[0]._id" layout-margin layout-padding>
            <md-whiteframe class="md-whiteframe-1dp" flex="90">
                <div layout="row">
                    <div flex>
                        <img src="{{vm.bucketUrl}}{{vm.videos[0].thumbnailPath}}" style="width: 67%">
                        <p>Title: {{vm.videos[0].title}}</p>
                        <p>Categories:</p>
                        <ul>
                            <li ng-repeat="category in vm.videos[0].categories">{{category.name}}</li>
                        </ul>
                        <p>Uploaded Date: {{vm.videos[0].uploadDate}}</p>
                        <p>Description: {{vm.videos[0].description}}</p>
                    </div>
                    <div layout-align="end center">
                        <md-button class="md-fab md-primary" ng-click="vm.editVideo(vm.videos[0])">
                            <md-icon class="material-icon">edit</md-icon>
                        </md-button>
                        <md-button class="md-fab md-primary" ng-click="vm.removeVideo(vm.videos[0])">
                            <md-icon class="material-icon">delete</md-icon>
                        </md-button>
                        <md-button class="md-fab md-primary" ng-click="vm.adminEdit(vm.videos[0])">
                            <md-icon class="material-icon">plus_one</md-icon>
                        </md-button>
                        <md-button class="md-fab md-primary" ng-click="vm.editComments(vm.videos[0])">
                            <md-icon class="material-icon">comment</md-icon>
                        </md-button>
                    </div>
                </div>
            </md-whiteframe>
        </div>
    </md-card>
</md-content>