<md-content layout="row" layout-align="center center" layout-padding>
    <md-card flex="90" flex-gt-md="80" layout-padding>

        <div>
            <h1>Videos</h1>
            <p>Search By Video Id</p>
            <div class="form-group search">
                <md-input-container>

                    <input type="text" ng-model="videoId" placeholder="Video ID">
                </md-input-container>
                <md-button class="md-primary md-raised" ng-click="vm.videoSearch(videoId)">Submit</md-button>
            </div>
            <div ng-if="vm.video">
                <p>Title: {{vm.video.title}}</p>
                <p>Categories:</p>
                <ul>
                    <li ng-repeat="category in vm.video.categories">{{category.name}}</li>
                </ul>
                <p>Uploaded Date: {{vm.video.uploadDate}}</p>
                <p>Description: {{vm.video.description}}</p>
                <md-button class="md-primary md-raised" ng-click="vm.adminEdit(vm.video)">Admin Video Edit</md-button>
                <md-button class="md-primary md-raised" ng-click="vm.editComments(vm.video)">Comments</md-button>
                <md-button class="md-primary md-raised" ng-click="vm.editVideo(vm.video)">Edit</md-button>
                <md-button class="md-primary md-raised" ng-click="vm.removeVideo(vm.video)">Delete</md-button>
                <br><br>
                <strong>Re-upload video:</strong><br>
                <md-progress-linear md-mode="determinate" ng-value="vm.uploadProgress"></md-progress-linear>
                <input type="file" accept="video/mp4,video/x-m4v,video/*" id="file-reupload">
                <md-button class="md-primary md-raised" ng-click="vm.upload()">Upload</md-button>
            </div>
        </div>
    </md-card>
</md-content>