<div id="new-slider">
    <!---- Title ---->
    <h2>Add New Slider</h2>
    <!---- Set name input  ---->
    <div layout="row">
        <md-input-container flex="80">
            <input placeholder="Set Name" ng-model="vm.newSlider.name">
        </md-input-container>
    </div>
    <!---- Slider start date ---->
    <div layout="row">
        <md-input-container>
            <input mdc-datetime-picker time="false" date="true" placeholder="Start Date" ng-model="vm.newSlider.startDate">
        </md-input-container>
    </div>
    <!---- Slider end date ---->
    <div layout="row">
        <md-input-container>
            <input mdc-datetime-picker time="false" date="true" placeholder="End Date" ng-model="vm.newSlider.endDate">
        </md-input-container>
    </div>
    <!----  Slide selector ---->
    <div layout="row">
        <md-select ng-model="vm.slideSelect" placeholder="Select Slide" flex="50">
            <md-option ng-value="slide" ng-repeat="slide in vm.slides">{{slide.name}}</md-option>
        </md-select>
        <md-button class="md-raised md-warn" ng-click="vm.addSlideToSlider(slide)">Add</md-button>
    </div>
    <!---- Save and cancel Buttons ---->
    <div ng-show="vm.slidePreview">
        <p>Slide Preview</p>
        <div>
            <md-card class="slider-slide-card" ng-repeat="sliderSlide in vm.slideStage">
                <div class="slider-card-content">
                    <h5>{{sliderSlide.name}}</h5>
                    <img src="{{vm.amazonBucket}}{{sliderSlide.imagePath}}">
                    <p>{{sliderSlide.description}}</p>
                    <md-button class="md-warn md-raised" ng-click="vm.removeSlide(sliderSlide)">Remove</md-button>
                </div>
            </md-card>
        </div>
    </div>
    <div>
        <md-button class="md-warn md-raised" ng-click="vm.saveSlider()">Save</md-button>
    </div>
</div>

