<md-content layout="column" layout-padding>
  <md-card layout-padding >
    <div>
      <md-button class="md-fab md-primary pull-right" ng-click="vm.showForm('slider')" ng-if="!vm.isOpen.slider">
        <md-tooltip md-direction='top'>Add Slider</md-tooltip>
        <md-icon class="material-icons">add</md-icon>
      </md-button>
      <h2>Sliders</h2>
      <form name="slider" ng-if="vm.isOpen.slider">
        <span>Set Name</span>
        <md-input-container>
          <input type="text" ng-model="vm.newSlider.name" required/>
        </md-input-container>
        <span>Start Date</span>
        <md-input-container>
          <input mdc-datetime-picker type="text" short-time="true" ng-model="vm.newSlider.startDate" class="md-input" format="YYYY-MM-DD hh:mm">
        </md-input-container>

        <span>End Date</span>
        <md-input-container>
          <input mdc-datetime-picker type="text" min-date="vm.newSlider.startDate" short-time="true" ng-model="vm.newSlider.endDate" class="md-input" format="YYYY-MM-DD hh:mm">
        </md-input-container>

        <div class="md-title">Slide</div>
        <md-input-container>
          <md-select ng-model="vm.selectedSlide">
            <md-option ng-repeat="slide in vm.slides | orderBy: 'name'" ng-value="slide">{{slide.name}}</md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="vm.addSlideToSlider()">Add</md-button>
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="slide in vm.newSlider.slides">
            <div class="md-list-item-text" layout="column">
              <h3>{{slide.name}} ({{slide.video}})</h3>
              <img ng-src="//s3-us-west-2.amazonaws.com/airvuz-asset-beta/slide/{{slide.imagePath}}" alt="{{slide.imageAlt}}" class="img-responsive"/>
              <p>{{slide.description}}</p>
            </div>
          </md-list-item>
        </md-list>


        <md-button ng-disabled="slider.$invalid" class="md-raised md-primary pull-right" ng-click="vm.save('slider')">
          Save
        </md-button>
        <md-button class="md-raised md-primary pull-right" ng-click="vm.hideForm('slider')">
          Cancel
        </md-button>
      </form>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="slider in vm.sliders">
          <div class="md-list-item-text" layout="column">
            <div>
              <h3><span ng-if="slider.isActive">* </span>{{slider.name}} (<small>{{slider.startDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}} - {{slider.endDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</small>)</h3>
              <md-button class="md-raised md-primary md-block" ng-click="vm.editSlider(slider)">Edit</md-button>
              <md-button class="md-raised md-primary md-block" ng-click="vm.removeSlider(slider)">Delete</md-button>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-card>
  <md-card layout-padding >
    <div>
      <md-button class="md-fab md-primary pull-right" ng-click="vm.showForm('slide')" ng-if="!vm.isOpen.slide">
        <md-tooltip md-direction='top'>Add Slide</md-tooltip>
        <md-icon class="material-icons">add</md-icon>
      </md-button>
      <h2>Slide</h2>
      <md-card layout-padding ng-if="vm.isOpen.slide">
        <form name="slide">
          <md-input-container>
            <label>Name</label>
            <input type="text" ng-model="vm.newSlide.name" required/>
          </md-input-container>
          <md-input-container>
            <label>Image Alt</label>
            <input type="text" ng-model="vm.newSlide.imageAlt" required/>
          </md-input-container>
          <md-input-container>
            <label>Video ID</label>
            <input type="text" ng-model="vm.newSlide.video" required/>
          </md-input-container>
          <p>Best resolution for slide are 1170x439</p>
          <md-input-container class="md-block">
            <md-progress-linear md-mode="determinate" ng-value="vm.imageUploadProgress"></md-progress-linear>
            <input type="file" evaporate eva-model="vm.evaData" accept="image/*" />
          </md-input-container>
          <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="vm.newSlide.description" rows="3"></textarea>
          </md-input-container>
          <md-button ng-disabled="slide.$invalid" class="md-raised md-primary pull-right" ng-click="vm.save('slide')">
            Save
          </md-button>
          <md-button class="md-raised md-primary pull-right" ng-click="vm.hideForm('slide')">
            Cancel
          </md-button>
        </form>
      </md-card>
      <div layout-gt-sm="row" layout-padding layout="column" layout-wrap layout-align="space-between center">
        <md-card ng-repeat="slide in vm.slides" flex-gt-sm="40">
          <div class="custom-speed-dial">
            <md-fab-speed-dial md-open="slide.isOpen" md-direction="left" class="pull-right md-fling" ng-class="{ 'md-hover-full': hover }" ng-mouseenter='slide.isOpen=true' ng-mouseleave='slide.isOpen=false' ng-hide='hidden'>
              <md-fab-trigger>
                <md-icon class="material-icons pointer">more_vert</md-icon>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button class="md-fab md-raised md-mini md-warn" ng-click="vm.removeSlide(slide)">
                  <md-tooltip md-direction='top'>Delete</md-tooltip>
                  <md-icon class="material-icons">delete</md-icon>
                </md-button>
                <md-button class="md-fab md-raised md-mini md-primary" ng-click="vm.editSlide(slide)">
                  <md-tooltip md-direction='top'>Edit</md-tooltip>
                  <md-icon class="material-icons">build</md-icon>
                </md-button>
              </md-fab-actions>
            </md-fab-speed-dial>
            <h3>{{slide.name}} ({{slide.video}})</h3>
            <img ng-src="//s3-us-west-2.amazonaws.com/{{vm.assetBucket}}/slide/{{slide.imagePath}}" alt="{{slide.imageAlt}}" class="img-responsive"/>
            <p>{{slide.description}}</p>
          </div>
        </md-card>
      </div>
    </div>
  </md-card>


</md-content>