<div id="video-curation-rating">
    <!---- video curation title ---->
    <h2>Video Curation: Rating</h2>
    <h4 class="warning" ng-show="vm.curated">NOTICE : Video has already been curated</h4>
    <!---- video Id input and search ---->
    <div>
        <md-input-container class="input">
        <input type="text" placeholder="Video ID" ng-model="vm.userInputId" ng-focus="vm.userInputError = false">
        <p class="error" ng-show="vm.userInputError">Please enter a valid video ID</p>
        </md-input-container>
        <md-button class="md-warn" ng-click="vm.userInputVideo(vm.userInputId)">Search</md-button>
    </div>
    <!---- video tags to add ---->
    <p class="field-title">Existing Keywords</p>
    <div class="video-curation-tags">
        <tags-input ng-model="vm.keywords" disabled="true">
        </tags-input>
    </div>
    <p class="field-title">Internal Keywords</p>
    <div class="video-curation-tags">
        <tags-input ng-model="vm.internalKeywords" replace-spaces-with-dashes=false>
            <auto-complete source="vm.getKeywords($query)"></auto-complete>
        </tags-input>
    </div>
    <p class="field-title">SEO Keywords</p>
    <div class="video-curation-tags">
        <tags-input ng-model="vm.seoKeywords" replace-spaces-with-dashes=false>
            <auto-complete source="vm.getKeywords($query)"></auto-complete>
        </tags-input>
    </div>
    <p class="field-title">Categories ( Select a Category to remove it ) </p>
    <md-button ng-repeat="category in vm.video.categories" class="md-raised md-warn" ng-click="vm.removeCategory(category)">
        {{category.name}}
    </md-button>
    <p class="field-title">Add a Category to the Video</p>
    <p class="warning" ng-show="vm.catLimitReached">Max categories reached please remove one to add another</p>
    <md-input-container>
        <md-select ng-model="vm.categoryType" placeholder="Select a Category" ng-change="vm.addCategory(vm.categoryType)">
            <md-option ng-repeat="category in vm.categories | orderBy : 'name'" value={{category}}>{{category.name}}</md-option>
        </md-select>
    </md-input-container>
    <!---- primary category---->
    <p class="field-title">Select Primary Category</p>
    <md-input-container>
        <md-select ng-model="vm.primaryCategory" placeholder="Select a Category">
            <md-option ng-repeat="category in vm.video.categories | orderBy: 'name'" value="{{category}}">{{category.name}}</md-option>
        </md-select>
    </md-input-container>
    <p class="field-title">Video Notes</p>
    <md-input-container>
        <textarea ng-model="vm.videoNotes"></textarea>
    </md-input-container>
    <!---- video title and id ---->
    <p class="field-title">{{vm.video.title}}</p>
    <p>{{vm.video._id}}</p>
    <!---- video player ---->
    <div style="display: flex">
        <video class="video-js vjs-default-skin" controls preload="auto"
               width="900px" vjs-video vjs-media="vm.mediaObj">
        </video>
        <div style="margin: auto">
            <!---- video rating selection ---->
            <div class="video-rating-container">
                <p class="rating-title">Rate This Video</p>
                <div class="star-container">
                    <span class="material-icons rating-star one">star_rate</span>
                    <span class="material-icons rating-star two">star_rate</span>
                    <span class="material-icons rating-star three">star_rate</span>
                    <span class="material-icons rating-star four">star_rate</span>
                    <span class="material-icons rating-star five">star_rate</span>
                </div>
                <p class="error" ng-show="vm.ratingRequired">Rating Required</p>
            </div>
            <!---- next video button ---->
            <md-button class="md-warn md-raised next-video-button" ng-click="vm.updateVideoAndGetNext()">Go to next video</md-button>
            <md-button class="md-warn md-raised next-video-button" ng-click="vm.updateVideoAndGetNext('contributor')">Go to next video of contributor</md-button>
            <md-button class="md-warn md-raised next-video-button" ng-click="vm.updateVideoAndGetNext('category1')" ng-show="vm.video.categories.length > 0">Go to next video in 1st category</md-button>
            <md-button class="md-warn md-raised next-video-button" ng-click="vm.updateVideoAndGetNext('category2')" ng-show="vm.video.categories.length > 1">Go to next video in 2nd category</md-button>
            <md-button class="md-warn md-raised next-video-button" ng-click="vm.updateVideoAndGetNext('category3')" ng-show="vm.video.categories.length > 2">Go to next video in 3rd category</md-button>
        </div>
    </div>
</div>

