<md-content layout="row" layout-align="center center" layout-padding>
    <md-card layout-padding style="width: 80%">
        <md-input-container>
            <label>Model</label>
            <input type="text" ng-model="vm.cameraType.model">
        </md-input-container>
        <md-input-container>
            <label>Manufacturer</label>
            <input type="text" ng-model="vm.cameraType.manufacturer">
        </md-input-container>
        <md-input-container>
            <label>Visible</label>
            <md-select ng-model="vm.cameraType.isVisible">
                <md-option value="true">True</md-option>
                <md-option value="false">False</md-option>
            </md-select>
        </md-input-container>
        <md-button ng-click="vm.saveCameraType()">Save Changes</md-button>
    </md-card>
</md-content>