.custom-speed-dial md-fab-speed-dial md-fab-actions{
    visibility: hidden;
}
.custom-speed-dial md-fab-speed-dial.md-is-open md-fab-actions{
    visibility: visible;
}

/********************
 * Helper
 */

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.pointer {
    cursor: pointer;
}

.error {
    color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.hashtag-table tr {
    background-color: white;
}

.hashtag-users {
    padding: 0;
}

.hashtag-users tr:nth-child(even) {
    background-color: #dddddd;
}

.hashtag-users th, td {
    padding: 8px;
}

.is-internal {
    background-color: yellow !important;
}

#video-curation-rating {
    padding: 0 50px 50px 50px
}

#video-curation-rating tags-input {
    height: 100px;
}

#video-curation-rating md-input-container {
    width: 75%;
}

#video-curation-rating .field-title {
    font-weight: bold;
}

#video-curation-rating .video-rating-container {
    text-align: center;
    margin-top: 30px;
}

#video-curation-rating .video-rating-container .rating-star {
    width: 30px;
    cursor: pointer;
}

#video-curation-rating .star-container {
    margin: 0 10px 10px 10px;
}

#video-curation-rating .rating-title {
    font-weight: bold;
    margin-bottom: 5px;
}

#video-curation-rating .star-container .selected {
    color: yellow;
}

#video-curation-rating .star-container .selection {
    color: yellow;
}

#video-curation-rating .next-video-button {
    margin: 20px;
}

#new-slide, #new-slider, #sliders, #slides {
    padding: 30px;
}

#upload-file {
    display: none;
}

.slider-slide-card {
    width: 600px;
    height: 390px;
    font-size: 11px;
    display: inline-block;
}

.slider-slide-card img {
    width: 550px;
    height: 200px;
}

.slider-card-content {
    margin: auto;
    padding: 10px 25px;
}

.slider-card-content p{
    height: 60px;
    overflow: hidden;
}

.slider-card-content button{
    float: right;
}

