.custom-speed-dial md-fab-speed-dial md-fab-actions{
    visibility: hidden;
}
.custom-speed-dial md-fab-speed-dial.md-is-open md-fab-actions{
    visibility: visible;
}

/********************
 * Helper
 */

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.pointer {
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.hashtag-table tr {
    background-color: white;
}

.hashtag-users {
    padding: 0;
}

.hashtag-users tr:nth-child(even) {
    background-color: #dddddd;
}

.hashtag-users th, td {
    padding: 8px;
}